@font-face {
    font-family: 'AvenirMedium';
    src: url('../font/AvenirMedium.eot');
    src: url('../font/AvenirMedium.eot') format('embedded-opentype'),
         url('../font/AvenirMedium.woff2') format('woff2'),
         url('../font/AvenirMedium.woff') format('woff'),
         url('../font/AvenirMedium.ttf') format('truetype'),
         url('../font/AvenirMedium.svg#AvenirMedium') format('svg');
}
@font-face{ 
	font-family: 'JINKY-webfont';
	src: url('../font/JINKY-webfont.eot');
	src: url('../font/JINKY-webfont.eot?iefix') format('eot'),
	     url('../font/JINKY-webfont.woff') format('woff'),
	     url('../font/JINKY-webfont.ttf') format('truetype'),
	     url('../font/JINKY-webfont.svg#webfont') format('svg');
}

button:active, button:focus {
outline: 0 !important;
-moz-outline-style: none;
box-shadow: none !important;
}
input:active, input:focus {
outline: 0 !important;
-moz-outline-style: none;
box-shadow: none !important;
}

body{
	font-size: 18px;
	width: 100%;
	overflow-x: hidden;
}

h1 {
	font-family: 'Concert One', cursive;
	font-weight: normal;
	font-size: 3.5em;
/*	-webkit-text-stroke: 1px #f49242;*/
	text-shadow: 1px 1px 3px #000000;
}

h2 {
	font-family: 'Archivo', sans-serif;
	font-size: 35px;
	font-weight: 700;
	color: #a56127;
}
h4 {
	font-family: 'Archivo', sans-serif;	
	font-weight: 400;
}
p {
	font-family: 'Archivo', sans-serif;
	font-size: 14px;
}

header {
}
.navbar-brand img {
	width: 110px;
}
section {
	height: calc(100vh - 84px);	
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
 	color: #fff;

}

.navbar-collapse {
	text-align: center;
}

.nav-item {
}

.nav-link {
	font-size: 14px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

#one {
/*	background: url('../images/banner-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	height: 100vh;
	color: #fff;
}
#one {
}

.banner {
	padding: 75px 200px;
	display: table-cell;
	vertical-align: middle;
}
#two {
	display: table;
}
.abt {
	display: table-cell;
	vertical-align: middle;	
	padding: 0 100px;
}
.abt p {
	font-size: 18px !important;
}
.abt p strong {
	font-family: 'JINKY-webfont', Arial, sans-serif;
	font-size: 32px;
	letter-spacing: 3px;
}
#three {
	background: url('../images/products_BG.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 3%;
}
div.btn {
	align-items: center;
}
#threecont {
	}

#view {
	border-radius: 20px;
	transition: all .6s ease;
	border: 1px solid #039648;
	text-align: center;
	color: #039648;
	padding: 8px 20px;
	z-index: 1;
  	overflow: hidden;
  	background: transparent;
  	cursor: pointer;
}
#view:hover {
	box-shadow: 0 3px 7px rgba(0,0,0,.14);
 	color:#fff;
 	background-color: #039648;
}

.test {
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
}
.star-rating .fa-star{color: orange;
}
.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#four {
	display: table;
}
.test {
	display: table-cell;
	vertical-align: middle;
}
.fourthcontent p {
	font-size: 18px;
}
abbr {
	text-decoration: none !important;
}
#ceoname {
	color: #788c27;
}
.owl-theme .owl-nav {
     display: none;
}
.owl-carousel.owl-loaded {
     position: absolute;
    bottom: 40px;
}

dt {
	color: #d44e2a;
}
dd {
	color: #999999;
	font-size: 14px;
}
.item img {
}

iframe {
}
footer {
	background-color: #103f6e;
	color: #fff;
	position: relative;
	height: 65%;
	padding: 20px 0;
	margin-top: 10px;
	}
#footcont {
}
footer h4 {
	font-size: 20px;
}

input.transparent-input{
       background-color:transparent !important;
       color: #fff;
       border: none;
       outline: 0;
       background: transparent;
       border-bottom: 1px solid #fff;
       border-radius: 0;
       width: 70%;
    }
input#msg {
	width: 55%;
}
input:active, input:focus {
	border-bottom: 1px solid #fff !important;
}

.form-control:focus {
	color: #fff;
}
#sendbtn {
	float: right;
	height: 70px;
	width: 70px;
	margin-top: -30px;
	margin-right: 25%;
}
#sendbtn {
	position: relative;
	z-index: 1;
	color: #1a1a1a;
	border-radius: 50%;
	border: none;
	transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}

#sendbtn:after {
	content: "+";
	font-size: 2.5em;
	line-height: 1.1em;
}

#sendbtn:hover {
	transform: rotate(45deg) scale(1.1);
	/*box-shadow:0 1px 1px #fff;*/
}
label {
	color: #8392a8;
	font-size: 14px;
}
ul {
	list-style-type: none;
}

#mrgless {
	display: flex;
	margin-bottom: 2px;
	font-size: 14px;
}

.social i {
	color: #000;
}

#ci {
	width: 35px;
	height: 35px;
}
.social i:hover {
	color: #fff;
	transition: 0.6s;
	cursor: pointer;
}

hr {
	background: #466687;
}
#fifth {
	background-color: #103f6e;
}
.footer-copyright {
	background-color: #000;
	position: absolute;
	top: 100%;
	padding: 15px;
	font-size: 15px;
}
.footer-copyright a {
	color: #7198ba !important;
}

@media (min-width: 1500px){
	.abt {
		padding: 0;
	}
	#three {
		padding-top: 5%;
	}
}
@media (min-width: 1101px) {
.owl-carousel .owl-item img {
		height: 56vh;
	}
}
@media (max-width: 1100px) {
.owl-carousel .owl-item img {
		height: 56vh;
	}
	.abt {
		padding: 50px;
	}
}
@media (max-width: 991px) {
.owl-carousel .owl-item img {
		height: 60vh;
	}
	.abt {
		padding: 10px;
	}
	h1 {
		font-size: 2em;
		-webkit-text-stroke: 2px #f49242;
		text-shadow: 1px 1px 2px #000000;
	}
}
@media (max-width: 767px) {
	#navbarNav {
		background: #fdca00 !important;
	}
	section#fifth {
		height: auto !important;
	}
	.social {
		text-align: center;
	}
	input.transparent-input{
		width: 100%;
	}
	input#msg {
    width: 82%;
	}
	#sendbtn{
		margin-right: 0;
	}
	.bannertxt {
		padding: 0 80px;
	}

}

@media (max-width: 750px) {

	h2 {
		margin-bottom: 0px;
	}
.owl-carousel .owl-item img {
		height: 50vh;
	}
}

@media (max-height: 620px){
	h2 {
		margin-bottom: 5px;
		font-size: 32px;
	}
	.owl-carousel .owl-item img {
		height: 55vh;
	}
	.bannertxt {
		padding: 0 34px;
	}
}

@media (max-height: 480px){
	h2 {
		margin-bottom: 0;
	}
	#three {
		height: 100vh;
	}
	.bannertxt {
		padding: 0 30px;
	}
	h1 {
		font-size: 1.5em;
    	-webkit-text-stroke: 1px #f49242;
    	text-shadow: .5px .5px 1px #000000;
	}

}

@media (max-width: 350px){
	p {
		font-size: 19px;
	}

	.abt {
		padding: 0;
	}
}